﻿# System
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Temp
*.tmp
*.bak
*.swp

# Build / Dependencies
node_modules/
dist/
build/
out/
venv/
env/
__pycache__/
*.pyc

# IDE
.idea/
.vscode/
*.suo
*.user
*.sln.cache

# Env
.env
.env.local

# Rust
src-tauri/target/
**/*.rs.bk
Cargo.lock

# Tauri
src-tauri/gen/
src-tauri/target/
src-tauri/icons/*.ico
src-tauri/icons/*.icns
src-tauri/icons/*.png
!src-tauri/icons/icon.png

# Database
*.db
*.db-wal
*.db-shm
recordings.db*
